.checkbox-data {

}

#submitBtn, #clearBtn {

    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    background: #9876AA;
    box-shadow: 0 2px 2px 0 #9876A2;
    cursor: pointer;
    font-family: "Consolas", serif;

}

#submitBtn:hover, #clearBtn:hover {
    background: #d89eff;
    box-shadow: 0 4px 4px 0 rgba(216, 158, 255, 0.25);

}

.selectR {
    border-radius: 3px;
    transition: border-radius 0.5s ease-in;
}
.selectR:hover {
    border-radius: 2.5px;
}
#submitBtn:hover {
    border-radius: 16px;
}


#checkbox {
    background-color: #474444;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 9px;
    font-family: "Consolas", serif;
}

#lower-checkbox {
    background-color: #9876A2;
    margin-left: 20px;
    border-radius: 9px;
    font-family: "Consolas", serif;
}

.textField {
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: "Consolas";


}

.checkbox-styling {
    height: 40px;
    width: 55px;


}

#x-choose-header {
    color: #A9B7C6;
}