.checkbox-data {

}

#submitBtn, #clearBtn {

    border: none;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    background: #9876AA;
    box-shadow: 0 2px 2px 0 #9876A2;
    cursor: pointer;

}

#submitBtn:hover, #clearBtn:hover {
    background: #d89eff;
    box-shadow: 0 4px 4px 0 rgba(216, 158, 255, 0.25);

}

.selectR {
    border-radius: 3px;
    transition: border-radius 0.5s ease-in;
}

#submitBtn:hover {
    border-radius: 16px;
}