@font-face {
    font-family: 'Consolas';
    src: url("source/consolas/consolas.ttf");
}
@font-face {
    font-family: "Dosis-ExtraBold";
    src: url("source/dosis/Dosis-ExtraBold.otf") format("opentype");
}

.headerBlock {
    color: #A5C25C;
    padding: 10px;
    width: 33%;
    vertical-align: middle;
}

#header {
    width: 100%;

}

#headerLeft{
    text-align: left;
}

#headerRight {
    text-align: right;
}

#headerCenter {
    text-align: center;
}

header {
    font-size: 15px;
    background-color: #474444;
    margin: 0;
    align-content: center;
    vertical-align: center;
    font-family: "Dosis-ExtraBold";

}