#animated-table {
    border: 3px solid #474444;
    margin-right: 20px;
    margin-left: auto;
    margin-top: 10px;
    border-collapse: collapse;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;

}


#animated-table th,
#animated-table td,
#animated-table tr,
#animated-table thead,
#animated-table tbody { display: block; }


#animated-table thead tr {
    width: 100%;
    color: #9876AA;
}

#animated-table tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

#animated-table tbody {
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    color: #A9B7C6;
}


#animated-table thead tr th {
    width: 16.3%;
    float: left;
    border-right: 1px solid #474444;
}
#animated-table tbody tr td {
    width: 16.3%;
    float: left;
    border-right: 1px solid #474444;
}

#animated-table tbody td:last-child, #animated-table thead th:last-child {
    border-right: none !important;
}

#animated-table tbody .table-data {
    border-top: 1px solid #474444;
}

.table-data {
    text-align: center;
}


::-webkit-scrollbar {
    width: 17px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}


::-webkit-scrollbar-thumb:hover {
    background: #555;
}
