.graphic {
    height: 250px;
    width: 250px;
    margin: 40px;
    border: black;
}

.choose {
    height: 300px;
    width: 250px;
    margin: 40px;
}

.main {
    display: flex;
    flex-direction: row;

}