.graphic {
    height: 350px;
    width: 350px;
    margin: 40px;
    border: black;
}


.textField {
    padding-top: 40px;
    padding-bottom: 20px;
}

.choose {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chbel {
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: row;

}

.axisText {
    font-size: small;
    color: #A9B7C6;
}


.circle {
    stroke: #9876AA;
    stroke-width: 1;
    fill-opacity: 0.2;
    fill: #9876AA;
    stroke-opacity: 0.5
}

.checkbox-styling {
    height: 40px;
    width: 40px;

}

