.graphic {
    height: 350px;
    width: 350px;
    margin: 40px;
    border: black;
}

.checkbox{
    height: 200px;
    width: 250px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.textField {
    padding-top: 40px;
    padding-bottom: 20px;
}

.choose {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.chbel {
    padding: 20px;
}

.main {
    display: flex;
    flex-direction: row;

}

.axisText {
    font-size: small;
}


.circle {
    stroke: cadetblue;
    stroke-width: 1;
    fill-opacity: 0.5;
    fill:cadetblue;
    stroke-opacity: 0.5
}


