.header {
    height: 60px;
    font-size: 15px;
    background-color: rgb(19, 0, 34);
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    font-family: 'Roboto', 'Helvetica Nue', cursive;

}

.hblock {
    color: azure;
    padding: 10px;
}


body {
    margin: 0;
    background-color: azure;
}


div {
    margin: 0;
}

